# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
venv/
.env
.envrc
.Python

# VSCode
.vscode/

# macOS/Windows
.DS_Store
Thumbs.db

# Node (for future frontend)
node_modules/
dist/
build/

# log / env
*.log
